:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-backround: #FFF;
    --team-backround: #F5F4FA;
    --footer-backround: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
    --backround: #F5F4FA;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: ‘Inter’;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../imges/backround-squoosh.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.advantages {
    padding-top: 94px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--footer-backround);
}

.logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.logo-span {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-right: 290px;
}

.nav-link-1 {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link-1:hover {
    color: var(--accent-color);
}

.nav-link {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link:hover {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-item {
    display: flex;
    align-items: center;
}

.header-img {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.header-link {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-item:hover {
    .header-img {
        fill: var(--accent-color);
    }

    .header-link {
        color: var(--accent-color);
    }
}

.hero-title {
    color: var(--main-backround);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--main-backround);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages-item::before {
    content: "";
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--backround);
    background-image: url(../imges/antenna.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item:nth-child(2)::before {
    background-image: url(../imges/clock.png);
}

.advantages-item:nth-child(3)::before {
    background-image: url(../imges/diagram.png);
}

.advantages-item:nth-child(4)::before {
    background-image: url(../imges/astronaut.png);
}

.advantages-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.advantages-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 270px;
}

.work-text {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.work-list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.section-list {
    display: flex;
    gap: 30px;
}

.team {
    background: var(--team-backround);
}

.team-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-name {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.section-list-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-div {
    border-radius: 0px 0px 4px 4px;
    background: var(--main-backround);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 26px;
}

.team-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.team-a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-a:hover {
    background-color: #2196F3;

    .team-svg {
        fill: #fff;
    }
}

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-text {
    display: flex;
    justify-content: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.clients-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client-box {
    padding: 16px 30px;
    border: 2px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.client-box:hover {
    border-color: #2196F3;

    .customers-svg {
        fill: #2196F3;
    }
}

.customers-svg {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address-item {
    margin-top: 9px;
}

.address-list {
    margin-top: 9px;
}

.address-text {
    color: var(--main-backround);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-logo-span {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-logo {
    color: var(--main-backround);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4a4a52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon:hover{
    background-color: #2196F3;
}

.footer-svg {
    width: 20px;
    height: 20px;
    margin-top: 32px;
    margin: 12px;
    fill: #FFFFFF;
}

.footer-fv{
    display: flex;
    gap: 70px;
}