:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-backround: #FFF;
    --team-backround: #F5F4FA;
    --footer-backround: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: ‘Inter’;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.hero {
    background: var(--footer-backround);
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.advantages {
    padding-top: 94px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--footer-backround);
}

.logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.logo-span {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-right: 334px;
}

.nav-link {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link:hover {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-link {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--accent-color);
}

.hero-title {
    color: var(--main-backround);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--main-backround);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
}

.advantages-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.advantages-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 270px;
}

.work-text {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.work-list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.section-list{
    display: flex;
    gap: 30px;
}

.team {
    background: var(--team-backround);
}

.team-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-name {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.team-div{
    border-radius: 0px 0px 4px 4px;
    background: var(--main-backround);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.address{
    margin-top: 20px;
}

.address-item{
    margin-top: 9px;
}

.address-list{
    margin-top: 9px;
}

.address-text {
    color: var(--main-backround);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-logo-span {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-logo {
    color: var(--main-backround);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-css {
    display: flex;
    justify-content: center;
    align-items: center;
}