@import "./base/reset";
@import "./base/container";
@import "./base/commem";
@import "./base/root";
@import "./utils/placeholder";
@import "./utils/mixin";

@import "./sections/header";
@import "./sections/hero";
@import "./sections/advantages";
@import "./sections/work";
@import "./sections/team";
@import "./sections/customers-section";
@import "./sections/footer";
@import "./sections/modal";
@import "./sections/portfolio";