@charset "UTF-8";
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: ‘Inter’;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.header__span {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link {
  display: flex;
  align-items: center;
}
.header__img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.header__image {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover__img, .header__item:hover__image,
.header :focus__img,
.header :focus__image {
  fill: #2196F3;
}
.header__item:hover__link,
.header :focus__link {
  color: #2196F3;
}

.nav__item {
  position: relative;
}
.nav__list {
  display: flex;
  gap: 50px;
  margin-right: 290px;
}
.nav__links {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
}
.nav__links:hover {
  color: #2196F3;
}
.nav__links::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 20px;
  margin-top: 10px;
  position: absolute;
  top: 35px;
}
.nav__link {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 20px;
  margin-top: 10px;
  position: absolute;
  top: 35px;
  opacity: 0;
  transform: scale(0);
  transition: transform 1s;
}
.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
  transform: scale(1);
}
.nav__links {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
}
.nav__links:hover {
  color: #2196F3;
}
.nav__links::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 20px;
  margin-top: 10px;
  position: absolute;
  top: 35px;
}

.line {
  background: #ECECEC;
  width: 1500px;
  height: 1px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/backround-squoosh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero__btn {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  padding-top: 94px;
}
.advantages__item::before {
  content: "";
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  background-image: url(../imges/antenna.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item:nth-child(2)::before {
  background-image: url(../imges/clock.png);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../imges/diagram.png);
}
.advantages__item:nth-child(4)::before {
  background-image: url(../imges/astronaut.png);
}
.advantages__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantages__title {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 270px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.work__list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.work__box {
  position: relative;
}
.work__btn {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  border: none;
  top: 224px;
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__name {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team__text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__container {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  background-color: #2196F3;
}
.team__link:hover__svg {
  fill: #FFF;
}
.team__link:focus {
  background-color: #2196F3;
}
.team__link:focus__svg {
  fill: #FFF;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.customers__text {
  display: flex;
  justify-content: center;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.customers__link {
  padding: 16px 30px;
  border: 2px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__svg {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196F3;
}
.customers__link:hover__svg, .customers__link:focus__svg {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}
.footer__address {
  margin-right: 74px;
}
.footer__svg {
  width: 20px;
  height: 20px;
  margin-top: 32px;
  margin: 12px;
  fill: #FFF;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__span {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.social {
  margin-right: 93px;
}
.social__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4a4a52;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover {
  background-color: #2196F3;
}
.social__icon:focus {
  background-color: #2196F3;
}

.address {
  margin-top: 20px;
}
.address__item {
  margin-top: 9px;
}
.address__list {
  margin-top: 9px;
}
.address__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address__link {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.form__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.form__lable {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.form__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
.form__btn {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 187%;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form__svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.is-hidden .modal {
  transform: translate(2000px, 2000px);
}

.modal {
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px 20px 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal__box {
  display: flex;
  align-items: center;
}
.modal__input {
  font-family: "Inter";
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
  text-indent: 38px;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:hover {
  border: 1px solid #2196F3;
  outline: none;
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: #2196F3;
}
.modal__svg {
  fill: #212121;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-bottom: 7px;
  margin-right: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comentt {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  resize: none;
  padding: 12px 16px;
  margin: 4px 0 25px 0;
  display: block;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comentt:focus, .modal__comentt:hover {
  border: 1px solid #2196F3;
  outline: none;
}
.modal__span {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8px;
  margin-right: 4px;
}
.modal__link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal__check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
}
.modal__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  border: none;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #188CE8;
}
.modal__exit {
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__close:hover__exit, .modal__close:focus__exit {
  fill: rgb(33, 150, 243);
}

.hiro {
  padding-top: 94px;
  padding-bottom: 50px;
}
.hiro__list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.hiro__btn {
  border-radius: 4px;
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hiro__btn:hover {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}
.hiro__btn:focus {
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--main-backround);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio-content {
  border: 1px solid #F5F4FA;
  padding: 24px 20px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
}

.portfolio-text {
  position: absolute;
  width: 370px;
  height: 294px;
  opacity: 0;
  top: 0;
  left: 0;
  padding: 63px 24px 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.portfolio-subtitle {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */