@mixin flex($justify: center, $align: center, $wrap: wrap, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin content($content: "", $display: block) {
    content: $content;
    display: $display;
}

@mixin modal-svg() {
    fill: $title-color;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-bottom: 7px;
    margin-right: 15px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}