.advantages {
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }

    &__item::before {
        @include content();
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        background: $backround;
        background-image: url(../imges/antenna.png);
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: 480px) {
            width: 450px;
            height: 120px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
    }

    &__item:nth-child(2)::before {
        background-image: url(../imges/clock.png);
    }

    &__item:nth-child(3)::before {
        background-image: url(../imges/diagram.png);
    }

    &__item:nth-child(4)::before {
        background-image: url(../imges/astronaut.png);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        @media screen and (min-width: 1200px) {
            justify-content: center;
            flex-direction: row;
        }
    }

    &__title {
        color: $title-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        color: $added-text;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
        width: 100%;

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}