.header {
    padding: 16px 0;

    @media screen and (min-width: 768px) {
        padding: 21px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 25px 0;
    }

    &__container {
        @include flex($wrap: nowrap);
    }

    &__logo {
        color: $logo-color;
        font-family: Raleway;
        font-size: 24px;
        line-height: 1.38;
        font-weight: 700;
        margin-right: auto;
        letter-spacing: 0.72px;

        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            letter-spacing: 0.78px;
            margin-right: 93px;
        }
    }

    &__span {
        color: $accent-color;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;
    }

    &__list {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            gap: 30px;
            flex-direction: row;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $added-text;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.24px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            letter-spacing: 0.28px;
        }
    }

    &__img {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: $added-text;
    }

    &__image {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: $added-text;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;

        .header__image {
            fill: $accent-color;
        }

        .header__img {
            fill: $accent-color;
        }
    }
}

.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }

    &__item {
        position: relative;
    }

    &__list {
        display: flex;
        gap: 50px;
        margin-right: 290px;

        @media screen and (min-width: 768px) {
            margin-right: 96px;
        }
    }

    &__links {
        color: $accent-color;
        font-family: Roboto;
        @extend %font;
        transition-property: color;
        transition-duration: 250ms;

        &:hover {
            color: $accent-color;
        }

        &::after {
            @include content();
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 13px;
            position: absolute;
            top: 35px;
        }
    }

    &__link {
        color: $title-color;
        font-family: Roboto;
        @extend %font;
        transition-property: color;
        transition-duration: 250ms;

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &::after {
            @include content();
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 13px;
            position: absolute;
            top: 35px;
            opacity: 0;
            transform: scale(0);
            transition: transform 1s;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__links {
        color: $accent-color;
        font-family: Roboto;
        @extend %font;
        transition-property: color;
        transition-duration: 250ms;

        &:hover {
            color: $accent-color;
        }

        &::after {
            @include content();
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 13px;
            position: absolute;
            top: 35px;
        }
    }
}

.line {
    background: $line-color;
    width: 1500px;
    height: 1px;
}