.header {
    padding-top: 24px;
    padding-bottom: 25px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        color: $logo-color;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
        margin-right: 93px;
    }

    &__span {
        color: $accent-color;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__list {
        display: flex;
        gap: 50px;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: $added-text;
    }

    &__img:hover,
    &__img:focus {
        fill: $accent-color;
    }

    &__image {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: $added-text;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__image:hover,
    &__image:focus {
        fill: $accent-color;
    }

    &__link {
        color: $added-text;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus{
        color: $accent-color;
    }
}

.nav {
    &__item {
        position: relative;
    }

    &__list {
        display: flex;
        gap: 50px;
        margin-right: 290px;
    }

    &__links {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;

        &:hover {
            color: $accent-color;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 10px;
            position: absolute;
            top: 35px;
        }
    }

    &__link {
        color: $title-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 10px;
            position: absolute;
            top: 35px;
            opacity: 0;
            transform: scale(0);
            transition: transform 1s;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__links {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 250ms;

        &:hover {
            color: $accent-color;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: $accent-color;
            border-radius: 20px;
            margin-top: 10px;
            position: absolute;
            top: 35px;
        }
    }
}

.line {
    background: $line-color;
    width: 1500px;
    height: 1px;
}