.hiro {
    padding-top: 94px;
    padding-bottom: 50px;
}

.hiro-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.hiro-btn {
    border-radius: 4px;
    background: var(--team-backround);
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-btn:hover {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    color: var(--main-backround);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
}

.hiro-btn:focus {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    color: var(--main-backround);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
}