.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.is-hidden .modal {
    transform: translate(2000px, 2000px);
}

.modal {
    background-color: $main-backround;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 40px 20px 40px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
        color: $title-color;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
    }

    &__label {
        color: $added-text;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__input {
        @include modal-input();

        &:focus,
        &:hover {
            border: 1px solid $accent-color;
            outline: none;
        }
    }

    &__input:hover+&__svg,
    &__input:focus+&__svg {
        fill: $accent-color;
    }

    &__svg {
        @include modal-svg();
    }

    &__comentt {
       @include modal-comett();

        &:focus,
        &:hover {
            border: 1px solid $accent-color;
            outline: none;
        }
    }

    &__span {
        color: $added-text;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        margin-left: 8px;
        margin-right: 4px;
    }

    &__link {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
    }

    &__check {
        @include flex($wrap: nowrap);
    }

    &__checkbox {
        width: 16px;
        height: 15px;
    }

    &__btn {
        @include modal-btn();

        &:hover,
        &:focus {
            background-color: $btn-hover;
        }
    }

    &__exit {
        width: 18px;
        height: 18px;
        fill: $logo-color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
        @include flex($wrap: nowrap);
        background-color: transparent;
        position: absolute;
        top: 8px;
        right: 8px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close:hover,
    &__close:focus {
        border-color: rgba(33, 150, 243, 1);

        .modal__exit {
            fill: rgba(33, 150, 243, 1);
        }
    }
}